<launch>
    <!-- <node pkg="autoturtle" name="sim" type="swim_school.py"/> -->
    <!-- <node pkg="turtlesim" name="sim2" type="turtlesim_node"/> -->
    <param name="x_val" type="int" value="4" />
    <param name="z_val" type="int" value="3" />
    <node pkg="autoturtle" name="sim" type="swim_school.py"/>
    <!-- <param name="angular_vel" type="int" value="6" /> -->

</launch>
